.header{
  width: 100%;
  height: 77px;
  position: relative;
  padding-top: 15px;

  .logo-desktop,
  .logo-mobile {
    position: relative;
    left: 50%;
    top: -22%;
  }

  .logo-desktop{
    margin-left: -72.5px;
    width: 100px;
  }

  .logo-mobile {
    display: none;
    width: 170px;
    margin-left: -85px;
  }

  @media(max-width: 480px) {
    .logo-desktop {
      top: -42%;
      left: 55%;
    }

    .logo-mobile {
      display: block;
      width: 150px;
      margin-left: -75px;
      margin-top: -2px;
    }
  }
}
@media(max-width: 480px) {
  .header{
    height: 60px;
  }
  .header-mobile{
    min-width: 250px;
  }
}