<div class="background-img">
    <picture>
      <img alt="background-img" src="assets/img/bg-landing-01.jpg">
    </picture>
  </div>

<div id="skeleton-container" class="skeleton-container container">
    <div class="ske-card-desk">
      <div class="ske-card float-left">
        <div class="ske-card-header"><p>Inicia sesión</p></div>
        <div class="ske-card-body">
          <input type="text" id="email" name="emailCtrl"
             class="form-control" maxlength="12" placeholder="Correo o usuario"/><br><br><br>
          <input type="password" id="password" name="passwordCtrl"
             class="form-control" maxlength="12" placeholder="Contraseña"/>
          <button type="button" (click)="goHome()" class="button-form btn btn-block btn-secondary">Iniciar sesión</button>
          <p>¿Olvidaste tu contraseña?</p>
        </div>
      </div>
    </div>
  </div>

<noscript>Tu navegador no soporta javascript!</noscript>