<div class="background-img">
  <picture>
    <img alt="background-img" src="assets/img/bg-landing-01.jpg">
  </picture>
</div>

<div id="skeleton-container" class="skeleton-container container">
  <div class="ske-card-desk">
    <div class="ske-card float-left">
      <div class="ske-card-header">
        <p>¿Qué quieres hacer?</p>
      </div>
      <div class="ske-card-body">
        <ul class="flex-container">
          <button class="flex-item">Formular</button>
          <button class="flex-item">Reformular</button>
        </ul>
        <ul class="flex-container">
          <button class="flex-item">Consultar</button>
          <button class="flex-item">Vender</button>
        </ul>
      </div>
    </div>
  </div>
</div>

<noscript>Tu navegador no soporta javascript!</noscript>